*body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.firstPage{
  background-image: linear-gradient(to top left, #DBF0EB, #FFFFFF);
  padding-left: 150px;
}

.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  width: 1180px;
  height: 40px;
  top: 40px;
  left: 130px;
  border-radius: 10px;
}

.logoText{
  color:#54BD95;
  font-size: 25px;
}

.navLinks ul{
  list-style: none;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.navLinks ul a{
  text-decoration: none;
  color: gray;
}

#firstList{
  color: black;
}

.headerEnds{
  display: flex;
  width: 143px;
  height: 40px;
  top: 40px;
  left: 1167px;
  justify-content: space-between;
  align-items: center;
  
}

.headerEnds a{
  text-decoration: none;
  color: gray;
}

.signUp{
  background-color: #54BD95;
  color: white;
  border: 0px;
  width: 70px;
  height: 30px;
  top: 40px;
  left: 1230px;
  border-radius: 10px;
}

.ghostPage{
  display: flex;
  width: 1301px;
  height: 642px;
  top: 134px;
  left: 130px;
  justify-content: space-between;
}

.headerText{
  font-size: 80px;
  font-weight: 700px;
  line-height: 90px;
  letter-spacing: 0%;
  width: 555px;
  height: 270px;
  top: 64px;
}

.curvedLine{
  top: 364px;
  border-radius: 8px;
}

.firstPageParagraphBox{
  width: 461px;
  height: 90px;
  top: 440px;
  font-weight: 500px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
}

#firstPageParagraph{
  width: 1301px;
  height: 642px;
  top: 134px;
  left: 130px;
  color: black;
}

.firstPageDeco{
  display: flex;
  align-items: center;
}

.firstPageButton{
  background-color: #54BD95;
  color: #DBF0EB;
  width: 165px;
  height: 62px;
  top: 580px;
  border-radius: 40px;
  border: 0px;
  margin: 40px;
}

.firstPageSecondDeco{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewDemo{
  margin: 20px;
  color: black;
  font-size: 18px;
}

.firstFooter{
  padding: 100px;
  top: 0px;
  padding-top: 0px;
  margin: 0px;
  border: 0px;
}

.firstFooterTitle{
  font-size: 50px;
  color: black;
  margin: 320px;
}

.endingImages ul{
  list-style: none;
  width: 1076px;
  display: flex;
  height: 38px;
  /* top: 1026px;
  left: 130px; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color: gray;
  text-decoration: none;
}

#firstOne{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

#firstTwo{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

#firstThree{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

#firstFour{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

#firstFive{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.gram1{
  position: relative;
  left: 20px;
  display: flex;
  align-items: center;
}

.gram2{
  position: relative;
  right: 4px;
}

.secondPage{
  background-color: #F9F8FE;
  display: flex;
  padding-left: 150px;
}

.secondPageFirst{
  margin: 30px;
}

#secondPageFirstText{
  font-size: 45px;
  color: black;
}

.secondPageSecond{
  margin: 50px;
  padding-left: 30px;
}

#secondPageSecondText{
  color: gray;
  font-size: 20px;
  
}

#star1Text{
  color: gray;
}

#star2Text{
  color: gray;
}

.review{
  display: flex;
  padding-top: 60px;
}

.review2{
  padding-left: 50px;
}

#secondPageList1{
  list-style-image: url(img/activity\ 1.png);
  padding-bottom: 20px;
}

#secondPageList1One{
  font-size: 40px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#secondPageList1Two{
  font-size: 20px;
  color: #A6A6A6;
  padding: 0px;
  border: 0px;
  margin: 0px;
  padding-top: 10px;
}

#secondPageList2{
  list-style-image: url(img/pie-chart\ 1.png);
  padding: 0px;
  border: 0px;
  margin: 0px;
  padding-bottom: 20px;
}

#secondPageList2One{
  font-size: 40px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#secondPageList2Two{
  font-size: 20px;
  color: #A6A6A6;
  padding: 0px;
  border: 0px;
  margin: 0px;
  padding-top: 10px;
}

#secondPageList3{
  list-style-image: url(img/command\ 1.png);
  padding: 0px;
  border: 0px;
  margin: 0px;
  padding-bottom: 20px;
}

#secondPageList3One{
  font-size: 40px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#secondPageList3Two{
  font-size: 20px;
  color: #A6A6A6;
  padding: 0px;
  border: 0px;
  margin: 0px;
  padding-top: 10px;
}

.thirdPage{
  background-color: #FFFBFB;
  padding-left: 150px;
}

.thirdPageHeader{
  display: flex;
  align-items: center;
}

.thirdPageHeader1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.thirdPageHeader1A{
  width: 731px;
  height: 122px;
  top: 1867px;
  left: 146px;
}

#third1A{
  font-size: 55px;
  font-weight: 600px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #191A15;
}

.thirdPageHeader{
  width: 461px;
  height: 90px;
  /* top: 1881px; */
  left: 590px;
}

#third1B{
  font-weight: 500px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #A6A6A6;
  padding-left: 100px;
  padding-top: 100px;
}

.thirdPageHeader2{
  width: 162px;
  height: 66px; 
  top: 1896px;
  left: 1164px;
  border-radius: 70px;
  background-color: #54BD95;
  margin-top: 80px;
  margin-left: 200px;
}

.thirdPageButton{
  width: 200px;
  height: 76px;
  top: 1914px; 
  left: 1195px; 
  font-size: 18px;
  font-weight: 500px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #FFFFFF;
  background-color: #54BD95;
  border: 0px;
  border-radius: 70px;
}

.thirdPageBody{
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.thirdPageBody1{
  display: flex;
  align-items: center;
}

.thirdPageBody1A{
  width: 364px;
  height: 570px;
  top: 2063px;
  left: 146px;
  border-radius: 20px;
}

.thirdPageFirstText{
  width: 340px;
  height: 110px;
  top: 2523px;
  left: 146px;
}

.thirdPageFirstText h2{
  font-weight: 600px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #191A15;
}

.thirdPageFirstText p{
  font-weight: 500px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #A6A6A6;
}

.thirdPageFirstImage{
  width: 364px;
  height: 430px;
  top: 2063px;
  left: 146px;
  border-radius: 20px;
}

.aImage1{
  position: absolute;
}

.aImage2{
  position: relative;
}

.bImage1{
  position: absolute;
}

.bImage2{
  position: relative;
}

.thirdPageBody1B{
  width: 364px;
  height: 570px;
  top: 2063px;
  left: 146px;
  border-radius: 20px;
  margin-left: 100px;
}

.thirdPageSecondText{
  width: 340px;
  height: 110px;
  top: 2523px;
  left: 146px;
}

.thirdPageSecondText h2{
  font-weight: 600px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #191A15;
}

.thirdPageSecondText p{
  font-weight: 500px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #A6A6A6;
}

.thirdPageSecondImage{
  width: 364px;
  height: 430px;
  top: 2063px;
  left: 146px;
  border-radius: 20px;
}

.thirdPageBody2{
  width: 364px;
  height: 570px;
  top: 2063px;
  left: 146px;
  border-radius: 20px;
  margin-left: 100px;
}

.thirdPageThirdText{
  width: 340px;
  height: 110px;
  top: 2523px;
  left: 146px;
}

.thirdPageThirdText h2{
  font-weight: 600px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #191A15;
}

.thirdPageThirdText p{
  font-weight: 500px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #A6A6A6;
}

.thirdPageThirdImage{
  width: 364px;
  height: 430px;
  top: 2063px;
  left: 146px;
  border-radius: 20px;
}

.fourthPage{
  width: 1249px;
  height: 543px;
  top: 2761px;
  left: 130px;
}

.fourthPage img{
  margin-left: 150px;
  margin-top: 100px;
}

.fifthPage{
  /* width: 2180px; */
  height: 1100px;
  top: 3434px;
  left: 141px;
  background-image: linear-gradient(to bottom right, #FFFEFE, #D7F0E6);
  margin-top: 88px;
  padding-left: 150px;
}

.fifthPageText1{
  width: 500px;
  height: 146px;
  top: 3434px;
  left: 485px;
  padding-top: 90px;
  margin: auto;
}

.fifthPageText1 h1{
  font-weight: 700px;
  font-size: 50px;
  line-height: 73px;
  letter-spacing: 0%;
  color: #191A15;
  text-align: center;
}

.fifthPageText2{
  width: 519px;
  height: 22px;
  top: 3620px;
  left: 472px;

  margin: auto;
}

.fifthPageText2 p{
  font-weight: 700px;
  font-size: 18px;
  line-height: 100px;
  letter-spacing: 0%;
  color: #A6A6A6;
  text-align: center;
}

.fifthPageButton{
  width: 340px;
  height: 70px;
  top: 3682px;
  left: 561px;
  border-radius: 10px;
  margin: auto;
  background-color: #FFFFFF;
  margin-top: 70px;
}

#billMonthly{
  width: 120px;
  height: 30px;
  top: 3702px;
  left: 599px;
  font-size: 18px;
  font-weight: 500px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #191A15;
  border: 0px;
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-left: 20px;
}

#billYearly{
  width: 160px;
  height: 56px;
  top: 3689px;
  left: 734px;
  border-radius: 10px;
  background-color: #54BD95;
  font-weight: 500px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #FFFFFF;
  border: 0px;
  margin-left: 50px;
}

.fifth{
  display: flex;
  padding-top: 40px;
}

.fifthFirst{
  width: 374px;
  height: 580px;
  top: 3841px;
  left: 141px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.fifthFirst h1{
  width: 65px;
  height: 36px;
  top: 3881px;
  left: 296px;
  font-size: 30px;
  font-weight: 600px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 150px;
  color: #191A15;
}

.fifthFirst p{
  width: 210px;
  height: 54px;
  top: 3927px;
  left: 223px;
  font-size: 18px;
  font-weight: 500px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 90px;
  color: #A6A6A6;
}

.fifthFirst h2 sup{
  width: 12px;
  height: 30px;
  top: 3994px;
  left: 303px;
  font-size: 18px;
  font-weight: 500px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #A6A6A6;
}

.fifthFirst h2 {
  width: 34px;
  height: 30px;
  top: 4020px;
  left: 319px;
  font-size: 50px;
  font-weight: 600px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 170px;
  color: #191A15;
}

.listButton1{
  width: 334px;
  height: 310px;
  top: 4080px;
  left: 161px;
  border-radius: 10px;
  background-color: #F9FAFB;
}

.listButton1 ul{
  width: 260px;
  height: 238px;
  top: 4106px;
  left: 198px;
  align-items: center;
  margin-left: 40px;
}

.listButton1 ul li{
  width: 350px;
  height: 30px;
  top: 4106px;
  left: 198px;
  padding: 5px 20px;
  list-style-image: url(img/Subtract.png);
}

.listButton1 button{
  width: 260px;
  height: 64px;
  top: 4371px;
  left: 198px;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #54BD95;
  margin-left: 50px;
  border: 0px;
  font-size: 18px;
  font-weight: 600px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.fifthSecond{
  width: 374px;
  height: 580px;
  top: 3841px;
  left: 141px;
  border-radius: 20px;
  background-color: #54BD95;
  margin-left: 30px;
}

.fifthSecond h1{
  width: 65px;
  height: 36px;
  top: 3881px;
  left: 296px;
  font-size: 30px;
  font-weight: 600px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 150px;
  color: #FFFFFF;
}

.fifthSecond p{
  width: 210px;
  height: 54px;
  top: 3927px;
  left: 223px;
  font-size: 18px;
  font-weight: 500px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 90px;
  color: #FFFFFF;
}

.fifthSecond h2 sup{
  width: 12px;
  height: 30px;
  top: 3994px;
  left: 303px;
  font-size: 18px;
  font-weight: 500px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}

.fifthSecond h2 {
  width: 34px;
  height: 30px;
  top: 4020px;
  left: 319px;
  font-size: 50px;
  font-weight: 600px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 170px;
  color: #FFFFFF;
}

.listButton2{
  width: 334px;
  height: 320px;
  top: 4080px;
  left: 161px;
  border-radius: 10px;
  background-color: #F9FAFB;
  margin-left: 20px;
}

.listButton2 ul{
  width: 260px;
  height: 238px;
  top: 4106px;
  left: 198px;
  align-items: center;
  margin-left: 40px;
}

.listButton2 ul li{
  width: 350px;
  height: 30px;
  top: 4106px;
  left: 198px;
  padding: 5px 20px;
  list-style-image: url(img/Subtract.png);
}

.listButton2 button{
  width: 260px;
  height: 64px;
  top: 4371px;
  left: 198px;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #54BD95;
  margin-left: 50px;
  border: 0px;
  font-size: 18px;
  font-weight: 600px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.fifthThird{
  width: 374px;
  height: 580px;
  top: 3841px;
  left: 141px;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-left: 30px;
  margin-top: 30px;
}

.fifthThird h1{
  width: 65px;
  height: 36px;
  top: 3881px;
  left: 296px;
  font-size: 30px;
  font-weight: 600px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 150px;
  color: #191A15;
}

.fifthThird p{
  width: 210px;
  height: 54px;
  top: 3927px;
  left: 223px;
  font-size: 18px;
  font-weight: 500px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 90px;
  color: #A6A6A6;
}

.fifthThird h2 sup{
  width: 12px;
  height: 30px;
  top: 3994px;
  left: 303px;
  font-size: 18px;
  font-weight: 500px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #A6A6A6;
}

.fifthThird h2 {
  width: 34px;
  height: 30px;
  top: 4020px;
  left: 319px;
  font-size: 50px;
  font-weight: 600px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 170px;
  color: #191A15;
}

.listButton3{
  width: 334px;
  height: 310px;
  top: 4080px;
  left: 161px;
  border-radius: 10px;
  background-color: #F9FAFB;
}

.listButton3 ul{
  width: 260px;
  height: 238px;
  top: 4106px;
  left: 198px;
  align-items: center;
  margin-left: 40px;
}

.listButton3 ul li{
  width: 350px;
  height: 30px;
  top: 4106px;
  left: 198px;
  padding: 5px 20px;
  list-style-image: url(img/Subtract.png);
}

.listButton3 button{
  width: 260px;
  height: 64px;
  top: 4371px;
  left: 198px;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #54BD95;
  margin-left: 50px;
  border: 0px;
  font-size: 18px;
  font-weight: 600px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}