*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  /* box-sizing: content-box; */
}

body{
  background-color:#FFFFFF;
}

.navBar{
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around;*/
  align-items: center;
  padding: 0px 50px;
  height: 50px;
  
}

.navLinks ul{
  list-style: none;
  width: 500px;
  /* gap: 100px; */
  display: flex;
  /* flex-direction: column-reverse; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navLinks ul a{
  text-decoration: none;
  color: black;
}

.textHereSession{
  width: 444px;
  margin-left: 80px;
}

.apparelLogo{
  display: flex;
  width: 115px;
  padding: 50px 0px;
}

.weAreComing{
  height: 217px;
}

.weAreComing span{
  font-size: 64px;
  top: 12;
  line-height: 71px;
  letter-spacing: 17px;
}

.weAreComing p{
  color: #CE9898;
}

.paragraph{
  height: 95px;
  top: 487px;
  left: 166px;
  color:#CE9898;
  padding: 30px 0px;
}

.email-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: #EE8B8B;
  padding: 10px;
}

.second{
  display : flex;
  width : 445px;
  height : 56px;
  top : 582px;
  left : 165px;
  border: none;
}

.email-input {
  border: 1px solid #CE9898 ;
  border-radius: 30%;
  outline: none;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  width: 250px;
  font-size: 16px;
  position: absolute;
}

.email-button {
  background: linear-gradient(45deg, #ff9a9e, #fbc2eb);
  border: none;
  color: #FFFFFF;
  padding: 17px 20px;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-left: 200px;
  bottom: 20px;
}

.buttonDiv{
  /* width: 450px;
  height: 250px; */
  margin-top: 10px;
  padding: 5px 5px;
}

.email-button svg {
  width: 16px;
  height: 16px;
}

.heroPage{
  display: flex;
  justify-content: space-between;
}